.displayUsers{
    width: 100%;
    display: flex;
    justify-content: center;
}

.boxUsers{
    width: 100%;
    min-height: 500px;
    background-color: rgb(246, 246, 246);
    border-radius: 0px 0px 30px 30px;
    margin-top: 10px;
}

.infoUsers{
    display: flex;
    justify-content:space-around;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(246, 246, 246);
    margin-top: 10px;
}

.cardUser{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.titleBox{
    width: 900px;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: (246, 246, 246);
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
}

.center{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
}

.navButton{
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navBox{
    gap: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonAction{
    width: 310px;
    height: 50px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.buttonAction:hover{
    letter-spacing: 2.5px;
    transform: 0.5s;
    background-color: rgb(246, 246, 246);
}

.boxLogs{
    background-color: rgb(246, 246, 246);
    min-height: 700px;
    width: 100%;
    margin-top: 10px;
}

.displayLogs{
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: space-around;
}

.inputForButtonAction{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    font-size: 17px;
    text-align: center;
}